<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ls.mybrandtherapist">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/NoActionBar"></activity>
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".login_signup_stage.Log_Sign_ParentActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".success_toolkit.SuccessToolkitActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".search_opportunities.SearchOpportunitiesActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".opportunities.OpportunityActivity"
            android:theme="@style/NoActionBar"></activity>
        <activity
            android:name=".book1on1.Book1on1"
            android:theme="@style/NoActionBar">

        </activity>

        <activity
            android:name=".submit_resume.SubmitResumeActivity"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>